:host {
    display: flex;
    justify-content: center;
  }
  mat-card{
    margin: 10px;
  }
  .example-form{
    width: 90%;

  }

  mat-form-field{
    width: 100%;
    display: block;
}
  mat-card-title{
    color: rgb(131, 131, 180);
  }
  